<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text Tcolor">
                    <h1>sequitur mutationem consuetudium</h1>
                    <h2>dynamicus, qui sequitur.</h2>
                    <p>etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                    Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit</p>
                    <img class="img-fluid text-center" src="/images/undraw_faq_rjoy.svg">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-description text-left pt-4 pb-5">
                    <article id="story">
                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                            Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                            litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo
                            typi, qui nunc, fiant sollemnes in futurum.</p>
                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                            Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                            litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo
                            typi, qui nunc, fiant sollemnes in futurum.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <%-include('./partials/scroll-top.ejs')%>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div data-aos="fade-up" data-aos-duration="1000" class="text-center mt-5 team">
                    <h2 class="Tcolor">futurum <span class="linecolor">sollemnes</span></h2>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card-content   mt-2">
                    <div class="card display-border mx-auto pb-4">
                        <div class="face face1">
                            <div class="content text-center">
                                <img id="profil"
                                    src="/images/blog.svg" alt="">
                                <h3>dynamicus</h3>
                                <blockquote>
                                    <cite>sollemnes</cite>
                                </blockquote>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>ratione saepe laboriosam quia?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="card-content mt-2">
                    <div class="card display-border mx-auto pb-4">
                        <div class="face face1">
                            <div class="content text-center">
                                <img id="profil" src="/images/blog.svg" alt="">
                                <h3>dynamicus</h3>
                                <blockquote>
                                    <cite>Lorem ipsum dolor</cite>
                                </blockquote>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>ratione saepe laboriosam quia?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>