<main>
    <%-include('./partials/scroll-top.ejs')%>

    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <article>
                    <div class="article-title text-center mt-5">
                        <h2>Titre de l'article</h2>
                        <time datetime="2018-07-07T20:00:00">.: 24 juin 2020 :.</time>
                    </div>
                    <div style="border: none;" class="card mb-3 mt-4">
                        <img style="border-radius: 2px;" src="/images/denise-jans-iNp-qD5ibXY-unsplash.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body mt-4">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Eos nemo cumque, saepe officiis eius veniam alias quibusdam hic, culpa esse
                                explicabo
                                voluptates qui eligendi numquam corporis voluptate dolor officia quos.Possimus
                                sapiente
                                laborum nisi nemo commodi iste, sunt ipsum officiis, in reprehenderit culpa dolorem
                                ut veritatis exercitationem corrupti harum repellendus corporis
                                laboriosam accusamus delectus dolorum incidunt. Enim vitae molestiae quidem?
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident nobis autem
                                ducimus, architecto veritatis velit consequatur, rerum vel quis temporibus suscipit
                                laudantium.
                                Fugiat blanditiis atque excepturi impedit aut autem nobis.
                                Dolores error esse labore nulla reprehenderit, magnam rerum eveniet! Maiores,
                                distinctio! Maxime nostrum accusantium hic aut, tempora,
                                quisquam soluta et qui, provident reprehenderit labore voluptate nobis esse odit ad
                                eaque.
                                Expedita corrupti quasi eos? In explicabo tenetur distinctio illo consequatur
                                exercitationem sequi quidem vel beatae eos ducimus iure, error pariatur soluta quam
                                laudantium
                                nesciunt doloribus accusantium possimus laborum incidunt ea.
                                Deserunt voluptatem dolor quo perferendis fuga autem veniam quibusdam quos
                                accusantium hic
                                error reprehenderit blanditiis sint quis beatae odit rerum suscipit, adipisci
                                tenetur eos consequatur?
                                Eos possimus laboriosam quo dicta!
                            </p>
                            <ul class="p-1">
                                <h5>Tag</h5>
                                <li><a href=""><span class="badge badge-pill p-2">Success</span></a></li>
                                <li><a href=""><span class="badge badge-pill p-2">Success</span></a></li>
                                <li><a href=""><span class="badge badge-pill p-2">Success</span></a></li>
                                <li><a href=""><span class="badge badge-pill p-2">Success</span></a></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>





</main>