<header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="details-text Tcolor">
                    <h1 class="Tcolor mb-4" style="font-weight: bold;">Reactive blogger</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus non doloribus ea
                        natus repellendus. Inventore maiores facilis nobis libero
                        architecto nostrum officia, adipisci nihil ratione! Distinctio,
                        debitis. Ipsam, tempore consequatur?
                    </p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="details text-center pt-4 pb-5 ">
                    <img class="img-fluid text-center" src="/images/blog.svg">
                </div>
            </div>
        </div>

        <%-include('./partials/scroll-top.ejs')%>
    </div>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card mt-5 mb-5" style="width: 100%; border:none; ">
                    <a class="linkcard" href="/article">
                        <img src="/images/ben-kolde-cpLsWmMEa1Q-unsplash.jpg" class="card-img-top" alt="...">
                        <div style="border: 1px solid #99aeb1; border-top: none; border-radius: 3px; "
                            class="card-body">
                            <article>
                                <time datetime="2018-07-07T20:00:00">24 juin 2020</time>
                                <h4 style="font-weight: bold;" class="text-center pt-3">Titre de l'article</h4>
                                <p class="card-text p-3">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Saepe ad qui possimus, optio quasi sunt quia
                                    quaerat incidunt laborum voluptatem vero laboriosam aliquam,
                                    repellat dolorem magni commodi vel beatae numquam? </p>
                            </article>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card mt-5 mb-5" style="width: 100%; border:none; ">
                    <a class="linkcard" href="/article">
                        <img src="/images/ben-kolde-cpLsWmMEa1Q-unsplash.jpg" class="card-img-top" alt="...">
                        <div style="border: 1px solid #99aeb1; border-top: none; border-radius: 3px; "
                            class="card-body">
                            <article>
                                <time datetime="2018-07-07T20:00:00">24 juin 2020</time>
                                <h4 style="font-weight: bold;" class="text-center pt-3">Titre de l'article</h4>
                                <p class="card-text p-3">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Saepe ad qui possimus, optio quasi sunt quia
                                    quaerat incidunt laborum voluptatem vero laboriosam aliquam,
                                    repellat dolorem magni commodi vel beatae numquam? </p>
                            </article>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card mt-5 mb-5" style="width: 100%; border:none; ">
                    <a class="linkcard" href="/article">
                        <img src="/images/ben-kolde-cpLsWmMEa1Q-unsplash.jpg" class="card-img-top" alt="...">
                        <div style="border: 1px solid #99aeb1; border-top: none; border-radius: 3px; "
                            class="card-body">
                            <article>
                                <time datetime="2018-07-07T20:00:00">24 juin 2020</time>
                                <h4 style="font-weight: bold;" class="text-center pt-3">Titre de l'article</h4>
                                <p class="card-text p-3">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Saepe ad qui possimus, optio quasi sunt quia
                                    quaerat incidunt laborum voluptatem vero laboriosam aliquam,
                                    repellat dolorem magni commodi vel beatae numquam? </p>
                            </article>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</main>