<header>
  <div class="container mtxp">
    <div class="row">
      <div class="col-md-6">
        <div class="details-text">
          <h1 class="Tcolor mb-4" style="font-weight: bold;">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h1>
          <h3 class="Tcolor" style="text-transform: none; font-weight: bold; font-size: 25px;">voluptatem illo vero ea officiis voluptates</h3>
          <p style="font-size: 18px;" class="Tcolor mb-4">Voluptate incidunt voluptatem illo vero ea officiis voluptates delectus eveniet, necessitatibus, tempore quod beatae
          animi rem quas molestiae repellat nulla optio eaque!
        </p>

          <div data-aos="fade-up" data-aos-duration="1000">
            <a class="btn-rc mt-3 mb-5" href="/contact">tempore quod beatae</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="details text-center pt-4 pb-5 ">
          <img class="img-fluid text-center" src="/images/undraw_social_friends_nsbv.svg" alt="">
        </div>
      </div>
    </div>
    <%-include('./partials/scroll-top.ejs')%>
  </div>
</header>
<main>
  <div class="container mtxp">
    <div class="row">
      <div class="col-md-12">
        <div class="title-presta mt-5 mbxp" data-aos="fade-up" data-aos-duration="2000">
          <h2 class="text-center Tcolor">onsectetur  <span class="linecolor">adipisicing</span></h2>
          <p class="text-center"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="presta text-center Tcolor">
          <img class="persta_ligne img-fluid " src="/images/undraw_new_entries_nh3h.svg">
          <h5><span>Aenean massa</span></h5>

        </div>

      </div>
      <div class="col-lg-3 col-md-6 col-sm-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="img-presta text-center Tcolor">
          <img class="persta_ligne img-fluid " src="/images/undraw_mobile_wireframe_euf4.svg" alt="">
          <h5>viverra</h5>
 
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="img-presta text-center Tcolor">
          <img class="persta_ligne img-fluid " src="/images/undraw_investment_data_yfvt.svg" alt="">
          <h5>Lorem<br>& consectetuer</h5>

        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 col-sm-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="img-presta text-center Tcolor">
          <img class="persta_ligne img-fluid " src="/images/undraw_mobile_devices_k1ok.svg" alt="">
          <h5><p>Delectus corrupti nostrum quia fa
          blanditiis magni.</p></h5>

        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title-presta mt-5 mbxp">
            <h2 class="text-center">consectetuer </h2>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 col-sm-6">
          <div class="text-center" data-aos="fade-up">
            <div class="XP"></div>
            <h5>Delectus</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 col-sm-6">
          <div class="text-center" data-aos="fade-up">
            <img style="height: 70px;" class="img-fluid mb-3" src="/icon/customer.svg" alt="">
                      <h5>Delectus</h5>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 col-sm-6">
          <div class="text-center" data-aos="fade-up">
            <img style="height: 70px;" class="img-fluid mb-3" src="/icon/dialog.svg" alt="">
            <h5>Delectus</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 col-sm-6">
          <div class="text-center" data-aos="fade-up">
            <img style="height: 70px;" class="img-fluid mb-3" src="/icon/idea.svg" alt="">
            <h5>Delectus</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus</p>

          </div>

        </div>
      </div>
    </div>
  </section>
</main>