<div class="container text-center">
    <div class="row">
        <div class="col-lg-12">
            <img style="width: 70%;" class="img-fluid mt-5 mb-5" src="/images/404.svg"
                alt="Page non trouvée Nostrum ipsa">
            <h2 class="text-center mt-5 mb-3">la page demandée n'existe pas</h2>

            <div class="text-center">
                <p>Essayez peut-être: </p>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/agence">L'agence</a></li>
                    <li><a href="/services">Services</a></li>
                    <li style="margin-bottom: 30px;"><a href="/contact">Contact</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>